# ==================================================================
# Copyright (c) 2026 Anysnap
# All Rights Reserved.
#
# Project       : Anysnap API Telegra Music Bot
# Powered By    : Anysnap
# Type          : API Based Telegram Music Bot
# ==================================================================

API_ID=37314366
API_HASH=bd4c934697e7e91942ac911a5a287b46
BOT_TOKEN=8842266631:AAEJCoc3zV0jWB4hJGGuBdxE-2kwHl47veE
LOGGER_ID=-1004382970778
MONGO_DB_URI=mongodb+srv://Elevenyts:Elevenyts@cluster0.vuyc1u2.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=8165177262
STRING_SESSION=BQHt0hMAU9SkQD3xz9KLR-VYe1v32PAJaCFTNjBQLz0SieP7mA3vaW3oexCpHuN6jGbx5jBZZhA4DrTui19bwZFnpMdF4aDZ9hDQuYs4uhPft5Y3f0j1p5bUg_aTA5NHpHfn7CyJxhQ1DMi9Hgn0kApECH8fQA55Ub1666Am6PUHNxERrmEsLcI3nuYMVh-S4USlAoSLBtYlNZxRCILdUIP4lHwCznhJNSsUs9l4CaG6UoH54Cb6_U3jSYo5hwC01wJkDk2ho5Z0PNB2mAYYOexvd_OgqKDITE4I0WLkX5mJjusfvUN9yVu3OQ_vnlBKbk2mn3S66Nx5WeTlmLP3lW14Oq1iOgAAAAICWEc4AA

# Apne FastAPI server ka URL yahan daalein
ANYSNAP_API_URL=http://127.0.0.1:8000